.mapContainer {
  height: 100%;
  width: 100%;
}

.leaflet-left {
  left: 95%;
}

.leaflet-bar {
  a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background: none;
    border: 1px solid white !important;
  }
}

.leaflet-overlay-pane svg {
  z-index: 1;
}

.leaflet-heatmap-layer.leaflet-zoom-animated {
  position: absolute; //background-color: #FFFFFF;
  left: 0;
  top: 0;
}

#ProjectTitle {
  position: absolute;
  top: 0%;
  left: 1%;
  width: auto;
  height: auto;
  font-size: 1.5em; //border:@border;
  background-color: #000000;
}
