body {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: 0px;
}

#slider1 {
    position: absolute;
    top: 1%;
    bottom: 97%;
    left: 1.5%;
    right: 2%;
}

#load-balance-container {
    position: absolute;
    top: 3%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.node[class~=selection-highlight] {
    fill: red !important;
}

.node-link[class~=selection-highlight] {
    stroke: red !important;
    stroke-width: 2px;
}

.node[class~=selection-unhighlight] {

}

.load-balance-line {
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #999;
    /* background: #222222; */
    background: #fff;
    opacity: .8;
    /* color: #eeeeee; */
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
    font-size: 13px;
}

.tooltip .name {
    font-weight: bold;
    font-family: 微软雅黑;
    color: black;
}

.tooltip .address {
    font-weight: bold;
    font-family: 微软雅黑;
    color: green;
}

.tooltip .other {
    font-weight: bold;
    font-family: 微软雅黑;
    color: blue;
}

path.link {
    fill: none;
}

/*
path.node-link[class~="mousehover-highlight"] {
    fill: node;
    stroke: red;
    opacity: 0.1;
}
*/

/*
circle {
    stroke: #fff;
    stroke-width: 0.5px;
}
*/

path.node-link {
    /*fill: none;*/
    shape-rendering: auto;
    /*stroke: #666;*/
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

.axis {
    /*stroke-width: 1px;*/
}

path { 
    /*stroke: #000;*/
    fill: none;
    shape-rendering: auto;
}

line { /*x轴上刻度标*/
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    stroke-opacity: .6;
    stroke-width: 2px;
    fill-opacity: .1;
    shape-rendering: crispEdges;
}
